@if (loading) {
  <div class="loader-container">
    <p-progress-spinner strokeWidth="6" styleClass="custom-spinner" aria-label="Cargando"></p-progress-spinner>
    <span class="loader-label">Cargando archivo...</span>
  </div>
}


<p-fileUpload
  name="xlsx"
  accept=".xlsx"
  mode="basic"
  auto="true"
  (onSelect)="onFileSelect($event)"
  chooseLabel="Seleccionar archivo XLSX">
</p-fileUpload>

@if (sheetData.length > 0) {
  <p>Vista previa:</p>
  <table class="p-datatable">
    @for (row of sheetData.slice(headerRowIndex, headerRowIndex + 10); let r = $index; track r) {
      <tr>
        @for (cell of row; let c = $index; track c) {
          <td>{{ cell }}</td>
        }
        <td>
          @if (r === 0) {
            <b>(Posible encabezado)</b>
          }
        </td>
      </tr>
    }
  </table>




  <div>
    <label>Fila del encabezado:</label>
    <input type="number" [(ngModel)]="headerRowIndex" min="0" [max]="sheetData.length - 1" (change)="onHeaderRowChange()" />
  </div>
}
